/***************CLASS TAGS*****************/
/*this is code for my top projects*/
.Brody {
  text-decoration: none;
  color: darkblue;
  transition: 0.5s;
}
.abouts {
  opacity: 0.9;
}
.hidden {
  z-index: -1;
  position: relative;
  visibility: hidden;
  font-size: 20px;
  text-align: center;
}
.hr-setup {
  visibility: visible;
  width: 100%;
  height: 4px;
  color: black;
  opacity: 1;
  box-shadow: 0 4px 10px 1px rgba(0, 0, 0, 2), 0 6px 30px 0 rgba(0, 0, 0, 0.9);
}
.profile_picture {
  border-radius: 20%;
  outline-width: 2px;
  outline-style: solid;
  outline-color: black;
  width: 9vw;
  margin-bottom: 13px;
  transition: 0.5s;
  margin-left: 1px;
  box-shadow: 1px 4px 9px 0 rgba(0, 0, 0, 1.5), 0 1px 80px 0 rgba(0, 0, 0, 0.30);
}
.link {
  font-size: 6vw;
  font-family: 'Pattaya', sans-serif;
  color: darkblue;
  transition: 0.5s;
  font-weight: 900;
  text-shadow: -1px 1px 2px black,-9px 9px 9px #303030;
}

.top {
  font-size: 6vw;
  font-family: 'Pattaya', sans-serif;
  text-shadow: -9px 9px 9px #303030;
  font-weight: 900;
  margin-bottom: 10px;
}
.abouts{
  font-family: 'Shrikhand', cursive;
  font-family: 'Alumni Sans Collegiate One', sans-serif;
  color: black;
  font-weight: 500;
  font-size: 7vw;
}
.Game {
  width: 60%;
  border-radius: 5%;
  outline-width: 3px;
  outline-style: solid;
  outline-color: black;
  transition: 0.5s;
  margin-bottom: 20px;
}
.cloud {
  position: absolute;
  right: 200px;
  opacity: 0.8;
  top: 40vh;
  z-index: 99;
}

.cloud2 {
  position: relative;
  right: 200px;
  opacity: 0.8;
  top: 20px;
}

.cloud3 {
  position: absolute;
  right: 150px;
  top: 55px;
  opacity: 0.8;
}

.cloud4 {
  position: relative;
  right: 220px;
  top: 35px;
  opacity: 0.8;
}

.sun {
  border-radius: 100%;
  position: absolute;
  right: 100px;
  width: 100px;
  height: 100px;
  top: 45px;
  box-shadow: 1px 1px 90px 16px yellow;
}
/*this is for the your masterpeices section*/
.sun-project {
  border-radius: 100%;
  position: absolute;
  right: 25px;
  width: 15%;
  top: 45px;
  box-shadow: 1px 1px 90px 16px yellow;
}
.link-MP{
  font-size: 6vw;
  font-family: 'Pattaya', sans-serif;
  color: darkblue;
  transition: 0.5s;
  font-weight: 900;
  text-shadow: -1px 1px 2px blue,-9px 9px 9px #303030;
}
.dirt{
  margin-top: 22.7vw;
  background-image:linear-gradient(#f0522d,#a0522d);
  color: black;
  width: 100%;
  visibility: visible;
}
.padding{
  padding-top: 20px;
}
.M-text {
  position: absolute;
  top: 100px;
  padding-left: 3%;
  font-family: 'Pattaya', sans-serif;
  font-size: 13vw;
  text-align: center;
  color: blue;
  z-index: 2;
  text-shadow: 1px 1px 2px black, 0 0 25px lightgreen, 0 0 5px green;
}
.land {
  position: absolute;
  top: 90px;
  width: 19.5%;
}

.land2 {
  position: absolute;
  top: 90px;
  left: 18%;
  width: 19.5%;
}

.land3 {
  position: absolute;
  top: 90px;
  left: 36%;
  width: 19.5%;
}

.land4 {
  position: absolute;
  top: 90px;
  left: 54%;
  width: 19.5%;
}

.land5 {
  position: absolute;
  top: 90px;
  left: 70%;
  width: 19.5%;
}

.land6 {
  position: absolute;
  top: 90px;
  left: 86%;
  width: 14%;
  height: 19.5vw;
}

.your-MP {
  width: 23%;
}
/*this is the footer section code*/

.footer-headers {
  font-size: 30px;
  text-shadow: 1px 1px 2px black, 0 0 25px grey, 0 0 5px black;
}
.footer-button {
  width: 125px;
  margin: 0;
  padding: 5px;
  text-shadow: 1px 1px 2px black, 0 0 25px darkgrey, 0 0 5px lightgrey;
}
.no-pad {
  padding: 0.4rem;
}
.no-border {
  border-width: 0;
}
/*************navbar code****************/
.navlink {
  margin-left: 60px;
  color: white;
  margin-top: 7px;
  font-size: 20px;
}
.SG {
  position: absolute;
  top: -9px;
  right: 15px;
  text-decoration: none;
  color: white;
  font-size: 25px;
  opacity: 1;
  font-family: fantasy;
  transition: 0.3s;
  font-size: 40px;
  text-shadow: 1px 1px 2px black, 0 0 25px white, 0 0 5px grey;
}

.nav {
  background-color: #5ec9ff;
}
.info-text {
  text-shadow: -9px 9px 7px #303030;
  text-decoration: underline;
  font-family: 'Special Elite', cursive;
  line-height: 1.5;
  font-size: 24.8px;
}

.info-label {
  font-size: 100px;
  margin-left: 100px;
  font-family: 'Pattaya', sans-serif;
  text-shadow: -9px 9px 7px #303030;
}
.canvas {
  outline-width: 5px;
  outline-color: black;
  outline-style: solid;
}

.close {
  position: absolute;
  top: 10px;
  right: 10px;
}
.info-button {
  position: absolute;
  top: 5px;
  margin-left: 6px;
  transition: 0.3s;
  color: white;
}

.navstick {
  position: sticky;
  top: 0;
  z-index: 100;
}

.nav-link {
  color: grey;
  transition: 0.5s;
  text-transform: capitalize;
}
/*this is the comment section code*/
.search-button {
  margin-top: 10px;
  width: 600px;
  position: absolute;
  left: 2px;
  margin-bottom: 50px;
  font-family: fantasy;
  font-style: italic;
  box-shadow: 1px 1px 2px black, 0 0 15px darkgrey, 0 0 5px lightgrey;
}

.send {
  margin-top: 10px;
  margin-left: 605px;
  text-shadow: 1px 1px 2px black, 0 0 25px darkgrey, 0 0 5px lightgrey;
}
/*this is my about section*/
.dot{
  position: absolute;
  visibility: hidden;
}
/*this is the title section*/
#title-top{
  background-color:blue;
  text-align: center;
  padding:10%;
  color: #fff;
}
.title{
  font-size:4vw;
  font-weight: bolder;
  color: #fff;
}
.title-img{
  width:30%;
}
/*this is the accomplishment section*/
#accomplishments{
  padding:5%;
  color: black;
  background-color: powderblue;
}
.icon{
  width: 50%;
}
.acc-header{
  font-weight: bolder;
  margin-bottom: 30px;
}
.acc-h1{
  font-weight: bolder;
  font-size: 11vw;
  margin-bottom: 50px;
}
.acc-text{
  width:200px;
  text-align: center;
  color:#3e3e3e;
}

/*help section*/
#help{
  text-align: center;
  background-color:#1d33ff;
  padding:5%;
  color: white;
}
.help-header{
  color: white;
  padding-bottom: 10%;
    font-weight: bolder;
}
.profile-link{
  color:white;
  text-decoration: underline;
}
.h4-help{
  margin-top: 5%;
  margin-bottom: 10%;
}
.help-img{
  width: 7%;
}
/*this is the get started section*/
#get-started{
  padding:5%;
  color: black;
  background-color: powderblue;
}
.started-img{
  width:10%;
}
.started-h2{
  margin-top: 20px;
}
.started-h4{
  line-height: 2;
  margin-top: 20px;
}
.started-link{
  color:black;
  text-decoration: underline;
}
.started-header{
  font-weight: bolder;
}
/*top 5 projects of the week*/
#top-5{
  background-color:#1d33ff;
  padding:5%;
  color: white;

}
.top-5-header{
  color: white;
  text-align: center;
  font-size: 4vw;
}
/*this is the mobile friendly code*/
@media (max-width:1028px){
  .M-text {
    position: absolute;
    top: 50px;
    padding-left: 3%;
    font-family: 'Pattaya', sans-serif;
    font-size: 13vw;
    text-align: center;
    color: blue;
    z-index: 2;
    text-shadow: 1px 1px 2px black, 0 0 25px lightgreen, 0 0 5px green;
  }
}

@media (max-width:590px) {
  .dot{
    visibility: hidden;
    position: static;
  }
}

@media screen and (max-device-width:520px) {
  .nav{
    height:35px ;
    }
    .search-button {
      margin-top: 10px;
      width: 150px;
      position: absolute;
      left: 2px;
      margin-bottom: 50px;
      font-family: fantasy;
      font-style: italic;
      box-shadow: 1px 1px 2px black, 0 0 15px darkgrey, 0 0 5px lightgrey;
    }
    .send {
      margin-top: 10px;
      margin-left: 155px;
      text-shadow: 1px 1px 2px black, 0 0 25px darkgrey, 0 0 5px lightgrey;
    }
  .nav-item{
    display: block;
    font-size: 10px;
    font-weight: 900;
  }
  .info-button {
    position: absolute;
    height:10px;
    right:47px;
    visibility: hidden;
  }
  .info-text {
    text-shadow: -9px 9px 7px #303030;
    text-decoration: underline;
    font-family: 'Special Elite', cursive;
    line-height: 1.5;
    font-size: 40px;
  }
  .SG {
    position: absolute;
    top: 9px;
    right: 5px;
    text-decoration: none;
    color: white;
    font-size: 25px;
    opacity: 1;
    font-family: fantasy;
    transition: 0.3s;
    font-size: 15px;
    text-shadow: 1px 1px 2px black, 0 0 25px white, 0 0 5px grey;
  }
  .footer-headers {
    font-size: 8px;
    text-shadow: 1px 1px 2px black, 0 0 25px grey, 0 0 5px black;
  }
  .footer-button {
    width: 70px;
    font-size: 8px;
    margin: 0;
    padding: 5px;
    text-shadow: 1px 1px 2px black, 0 0 25px darkgrey, 0 0 5px lightgrey;
  }
  .dot{
    visibility: hidden;
    position: static;
  }
}
@media (max-device-width:800px; min-device-width:550px) {
  .cloud {
    position: absolute;
    right: 200px;
    opacity: 0.8;
    top: 50px;
    z-index: 99;
  }
  .SG {
    position: absolute;
    top: 5px;
    right: 15px;
    text-decoration: none;
    color: white;
    font-size: 25px;
    opacity: 1;
    font-family: fantasy;
    transition: 0.3s;
    font-size: 10px;
    text-shadow: 1px 1px 2px black, 0 0 25px white, 0 0 5px grey;
  }
}
/***************WHAT I'M WORKINGON CODE*****************/
.Logo {
  width: 25%;
  box-shadow: -9px 9px 9px #303030;
}

.margin {
  height: 150px;
}


/***************CLASS HOVER TAGS*****************/
.information:hover {
  visibility: visible;
  width: 20%;
  height: 800px;
  font-size: 120%;
  color: black;
}
.profile-link:hover{
  color:lightgrey;
  text-decoration: underline;
}
.started-link:hover{
  color:grey;
  text-decoration: underline;
}

.bottom-links:hover {
  text-decoration: underline;
  color: grey;
}

.footer-button:hover {
  box-shadow: 1px 1px 2px black, 0 0 15px lightgrey, 0 0 5px grey;
}

.bottom-link:hover {
  margin-left: 170px;
  text-decoration: underline;
  color: grey;
}

.footer-button:active {
  background-color: lightgrey;
}

.nav-link:hover {
  color: white;
  text-decoration: underline;
}

.send:hover {
  box-shadow: 1px 1px 2px black, 0 0 45px lightgreen, 0 0 30px green;
}

.info-button:hover {
  opacity: 1;
  background-color: #3b3b3b;
  box-shadow: 1px 1px 2px black, 0 0 15px darkgrey, 0 0 5px lightgrey;
  text-shadow: 1px 1px 2px black, 0 0 25px darkgrey, 0 0 5px lightgrey;
}

.SG:hover {
  color: lightgrey;
  opacity: 0.8;
  transform: rotate(-7deg);
  font-size: 41px;
  z-index: 101;
}
.button{
  background-color: blue;
  border-radius: 10%;
  border-width: 0;

}
.button:hover{
  background-color: darkblue;
  border-radius: 10%;
}

.Brody:hover {
  color: blue;
}

.link:hover {
  color: blue;
}
.link-MP:hover {
  color: blue;
}

.Game:hover {
  width: 60.5%;
  outline-width: 2px;
  outline-style: dashed;
  outline-color: black;
  opacity: 1;
  transform: rotate(-2deg);
  box-shadow: 0 4px 10px 1px rgba(0, 0, 0, 2), 0 6px 30px 0 rgba(0, 0, 0, 0.9);
}

.profile_picture:hover {
  border-radius: 20%;
  outline-width: 3px;
  outline-style: dashed;
  outline-color: black;
  width: 9.5vw;
  padding: 0 0 0 0;
  margin: 0 0 0 1px;
  opacity: 1;
  transform: rotate(-2deg);
}
/*************REGULAR TAGS***************/
hr {
  visibility: visible;
  width: 100%;
  height: 9px;
  background-color: black;
  box-shadow: 0 4px 10px 1px rgba(0, 0, 0, 2), 0 6px 30px 0 rgba(0, 0, 0, 0.9);
}
h1 {
  font-size: 5vw;
  text-shadow: -9px 9px 9px #303030;
  color: black;
}
body{
  text-shadow: -9px 9px 9px #303030;
}
h3 {
  font-size: 3vw;
  text-decoration: underline;
  font-family: 'Special Elite', cursive;
  line-height: 1.5;
  text-shadow: -9px 9px 9px #303030;
  font-weight: 100;
  padding: 0 10% 0;
}

a {
  text-decoration: none;
}

/*************HOVER TAGS***************/
